# OSX
.DS_Store

# Duplicates
packages/node/src/**/*
packages/web/src/**/*
!waku-relayer-waku-core.ts
!*/

# Node.js
**/node_modules/
**/npm-debug.log
**/yarn-error.log
**/package-lock.json
**/dist/

# Test
**/.nyc_output
**/test.db
**/coverage/
