name: Publish Package to npmjs
on:
  push:
    # Sequence of patterns matched against refs/heads
    branches:
      - release
      - dev

permissions:
  id-token: write  # Required for OIDC
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest
    environment: npm-release
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: "24"
          registry-url: "https://registry.npmjs.org"
      - name: Install yarn
        uses: borales/actions-yarn@v4
        with:
          cmd: install
      - name: Build "node" package
        run: yarn build
        working-directory: ./packages/node
      - name: Publish "node" package
        run: npm publish
        working-directory: ./packages/node
      - name: Build "web" package
        run: yarn build
        working-directory: ./packages/web
      - name: Publish "web" package
        run: npm publish
        working-directory: ./packages/web
